<div class="game-container">
  <div class="game-header">
    <h1>🎮 6 Degrees of MLB</h1>
    <p>Connect two players through shared teammates!</p>
  </div>

  <!-- Setup Screen -->
  <!-- <div *ngIf="!gameStarted" class="setup-screen"> -->
  <div class="setup-screen">
    <div class="player-selection">
      <div class="select-section">
        <h4>Use mutual teammates to connect: </h4>
        <div class="container">
          <div class="playerContainer">
            <img [src]=startPlayerImg class="playerImage"/>
            <h5>
              {{ startPlayer?.name }} {{!startPlayer?.unique_name ? startPlayer?.year_start === startPlayer?.year_end ? '(' + startPlayer?.year_start + ')' : '(' + startPlayer?.year_start + '-' + startPlayer?.year_end + ')' : '' }}
            </h5>
          </div>
          <h5>and</h5>
          <div class="playerContainer">
            <img [src]="targetPlayerImg" class="playerImage"/>
            <h5 class="playersHeader" style="text-align: justify;">
              {{ targetPlayer?.name }} {{!targetPlayer?.unique_name ? targetPlayer?.year_start === targetPlayer?.year_end ? '(' + targetPlayer?.year_start + ')' : '(' + targetPlayer?.year_start + '-' + targetPlayer?.year_end + ')' : '' }}
            </h5>
          </div>
        </div>
        
        <h5>Guesses remaining: {{ 6 - attempts }}</h5>
        <h5>Enter a teammate of {{ nextPlayer?.name }}</h5>
        
        <div *ngIf="guesses.length > 0" class="guesses-header">
          <h5>Previous Guesses:</h5>
          <div class="guesses-list">
            <div *ngFor="let guess of guesses" [ngClass]="{'valid-guess': guess.validGuess, 'invalid-guess': !guess.validGuess, 'win-guess': guess.win}">
              {{ guess.player.name }} - {{ guess.validGuess ? 'Valid' : 'Invalid' }} {{ guess.win ? '(WINNING)' : '' }}
            </div>
          </div>
        </div>

        <div *ngIf="valid" class="selected-player-container">
          <img [src]="selectedPlayerImg" class="selected-player-image">
        </div>

        <input
          [(ngModel)]="searchQueryStart"
          (keyup)="searchPlayers()"
          type="text"
          [placeholder]=placeholder
          class="search-input"
        />
        <div *ngIf="searchResultsStart.length > 0" class="search-results">
          <button
            *ngFor="let player of searchResultsStart"
            (click)="selectStartPlayer(player)"
            class="player-btn"
          >
            {{player.name }} ({{ player.year_start === player.year_end ? player.year_start : player.year_start + '-' + player.year_end }})
          </button>
        </div>
      </div>

      <div class="select-section">
        <button
          (click)="toggleHint()"
          [disabled]="hintUsed"
          class="hint-button"
        >
          Hint (Show teams of {{ startPlayer?.name }})
        </button>
        <div *ngIf="hintUsed" class="hint-revealed">
          <p *ngFor="let team of startPlayerTeams"> {{ team }} </p>
        </div>

        <button
          (click)="toggleHintTarget()"
          [disabled]="hintUsedTarget"
          class="hint-button button-target"
        >
          Hint (Show teams of {{ targetPlayer?.name }})
        </button>
        <div *ngIf="hintUsedTarget" class="hint-revealed">
          <p *ngFor="let team of targetPlayerTeams"> {{ team }} </p>
        </div>
      </div>
    </div>

    <!-- <button
      (click)="startNewGame()"
      [disabled]="!startPlayer || !targetPlayer"
      class="start-button"
    >
      Start Game!
    </button> -->
    <button
      (click)="guessPlayer()"
      [disabled]="!valid"
      class="start-button"
    >
      Guess Player!
    </button>
    <button
      *ngIf="gameEnded"
      (click)="toggleVictoryScreen()"
      [disabled]="!gameEnded"
      class="start-button"
    >
      View Stats
    </button>
  </div>

  <!-- How to play Screen -->
    <div *ngIf="!gameStarted" class="victory-screen">
      <div class="instructions-content">
        <h2>🎮 6 Degrees of MLB</h2>
        <h3><u>How to play</u></h3>
        <h4>
          You have 6 guesses to find teammates that connect the two players. A player is linked to another player if they have played together on the same team and year.
        </h4>
        <h5>
          Take this example: The starting player is Vladimir Guerrero Jr. and the target player is Mike Trout. 
        </h5>
        <img [src]="imgPath" alt="Sample image"/>
        
        <button (click)="toggleStart()" class="play-again-button">Start Game!</button>
      </div>
    </div>

    <!-- Victory Screen -->
    <div *ngIf="gameEnded && showVictoryScreen" class="victory-screen">
      <div class="victory-content">
        <h2 *ngIf="gameWon">🎉 Victory!</h2>
        <h2 *ngIf="!gameWon" style="color: red;">Better Luck Next Time...</h2>
        <h3>
          Optimal path: {{ optimalPath.map(p => p.name).join(' → ') }}
        </h3>
        <h3 *ngIf="gameWon">
          Your path: {{startPlayer.name}} → {{ validGuesses.map(p => p.name).join(' → ') }} → {{ targetPlayer.name }}
        </h3>
        <button (click)="toggleVictoryScreen()" class="play-again-button">Hide</button>
        <button (click)="resetGame()" class="play-again-button">Play Again</button>
      </div>
    </div>
  <!-- </div> -->
</div>

